    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none !important;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .header {
        background-image: url(./../image/bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 65px;
        width: 100vw;
        height: 100vh;
        /* width: 100%; */
    }
    
    nav {
        width: 100%;
        padding: 20px 0;
        background-color: #232536;
        overflow-x: hidden;
    }
    
    @font-face {
        font-family: 'inter';
        src: url(./../fonts/Inter/Inter-Regular.ttf);
    }
    
    @font-face {
        font-family: 'Sen';
        src: url(./../fonts/Sen/Sen-Regular.ttf);
    }
    
    .nav__img {
        width: 140px;
        height: 28.35px;
    }
    
    .row> {
        flex-shrink: 0;
        /* width: 100%; */
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y) !important;
    }
    
    .nav__menu__ul__li__a {
        position: relative;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
        color: #fff;
        text-decoration: none;
        transition: 1s;
    }
    
    .nav__menu__ul__li__a:hover {
        color: #FFD050;
        transition: 1s;
    }
    
    .nav__menu__ul__li__a:hover::after {
        color: #FFD050;
        bottom: -2px;
        content: '';
        width: 100%;
        left: 0;
        height: 2px;
        position: absolute;
        background-color: #FFD050;
        transition: 2s;
    }
    
    .transform {
        transform: translateY(0%) !important;
    }
    
    dl,
    ol,
    ul {
        margin-top: 0;
        margin-bottom: 0rem;
    }
    
    ol,
    ul {
        padding-left: 0rem;
    }
    
    .nav__menu__ul__btn {
        width: 147px;
        height: 56px;
        margin-left: 0 auto;
        border: 2px solid transparent;
        background-color: #fff;
        color: #232536;
        transition: 1s;
    }
    
    .nav__menu__ul__btn:hover {
        border: 2px solid gray;
        background-color: rgba(255, 255, 255, 0.68);
    }
    
    .nav__menu__ul {
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }
    
    .nav__menu__ul__li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nav__menu__btn {
        display: none;
    }
    
    .hero {
        padding: 124px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .hero__h4 {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-bottom: 24px;
    }
    
    .hero__h4__span {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .hero__h1 {
        max-width: 800px;
        font-family: 'Sen';
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -2px;
        color: #FFFFFF;
        padding-bottom: 24px;
    }
    
    .hero__p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
        padding-bottom: 16px;
    }
    
    .hero__p__span {
        color: #FFD050;
    }
    
    .hero__p2 {
        max-width: 599px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
    }
    
    .hero__btn {
        margin-top: 18px;
        background-color: #FFD050;
        width: 204px;
        height: 56px;
        font-family: 'Sen';
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #232536;
        border: 2px solid #FFD050;
        transition: 2s;
    }
    
    .hero__btn:hover {
        background-color: transparent;
        color: #FFD050;
        border: 2px solid #FFD050;
    }
    
    .Popular-blogs__cards {
        display: flex;
        justify-content: space-around;
    }
    /* .Popular-blogs__card div span {
        padding: 10px 0;
    } */
    
    .Popular-blogs__card {
        /* max-width: 300px; */
        padding: 10px;
        justify-content: space-between;
        gap: 40px;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: flex-start; */
    }
    
    .Popular-blogs__card img {
        width: 100%;
        height: 300px;
    }
    
    .Popular-blogs__card__span {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #4C4C4C;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .Popular-blogs__card__h3 {
        font-family: 'Sen';
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #232536;
    }
    
    .Popular-blogs__card__p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #232536be;
    }
    
    .chuse-kategories__cards {
        padding: 80px 0;
        /* column-gap: 10px; */
        margin: 0 auto;
    }
    
    .chuse-kategories__cards {
        display: flex;
        row-gap: 32px;
    }
    
    .chuse-kategories__cards__card {
        width: 296px;
        border-radius: 5px;
        transition: 1s;
        padding: 32px;
    }
    
    .chuse-kategories__h2 {
        text-align: center;
    }
    
    .chuse-kategories__cards__card__text__h3 {
        padding: 27px 0 3px 0;
        font-family: 'Sen';
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        color: #232536;
    }
    
    .chuse-kategories__cards__card__text__p {
        max-width: 232px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
    }
    
    .chuse-kategories__cards__card:hover {
        background-color: #FFD050;
        border: 1px solid #6D6E76;
    }
    
    .chuse-kategories__cards__card__img2 {
        padding: 11px;
    }
    /* futer*/
    
    footer {
        background-color: #232536;
        width: 100%;
        height: 140px;
    }
    
    .foot-box {
        /* padding-bottom: 54px; */
        padding-top: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .foot-box__text__p1,
    .foot-box__text__p2 {
        margin-top: -15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        /* identical to box height, or 175% */
        /* Light */
        color: #FFFFFF;
    }
    
    .foot-box__img img {
        padding-right: 10px;
    }
    
    .foot__box__img {
        display: flex;
        column-gap: 30px;
    }
    
    .header-2 {
        background-color: #F4F0F8;
    }
    
    .hero-2 {
        padding: 80px 0;
    }
    
    .hero-2__h2 {
        font-family: 'Sen';
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -2px;
        color: #232536;
    }
    
    .hero-2__p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #6D6E76;
    }
    
    .hero-2__span {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #232536;
    }
    
    .inp {
        margin: 50px 0;
        height: 50px;
        outline: none;
    }
    
    .search__btn {
        width: 250px;
        height: 50px;
        border: 2px solid #FFD050;
        background-color: none;
        color: #FFD050;
    }
    
    .our-mision {
        padding: 84px;
        background-color: #F4F0F8;
    }
    
    .our-mision__right__h4,
    .our-mision__left__h4 {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #232536;
    }
    
    .our-mision__left__h3,
    .our-mision__right__h3 {
        font-family: 'Sen';
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #232536;
    }
    
    .our-mision__right__p,
    .our-mision__left__p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
    }
    
    .our-team__h3 {
        font-family: 'Sen';
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        color: #232536;
    }
    
    .our-team__h4 {
        font-family: 'Sen';
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #232536;
    }
    
    .our-team__p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #232536;
    }
    
    .our-team__img img {
        width: 100%;
    }
    
    .red__error {
        color: red;
        border: 3px solid red;
    }
    
    .green__error {
        color: green;
    }
    
    .inp {
        height: 50px;
        outline: none;
    }
    
    .fresh__btn {
        background-color: #FFD050;
        border: 2px solid #FFD050;
        color: #fff;
        height: 50px;
        transition: 1s;
    }
    
    .fresh__btn:hover {
        color: #FFD050;
        background-color: transparent;
    }
    
    .header-3 {
        width: 100vw;
        height: 120vh;
    }
    
    .serch__item {
        display: flex;
        column-gap: 40px;
        margin-bottom: 40px;
    }
    
    .serch__img {
        max-width: 445px;
    }
    
    .serch__span {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #592EA9;
    }
    
    .serch__h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -2px;
        color: #232536;
        margin: 20px 0 64px 0;
    }
    
    .serch__p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #6D6E76;
    }
    
    .button-hover {
        color: white;
        background-color: #FFD050;
    }
    
    .pagination-btn {
        /* padding: 10px;*/
        width: 30px;
        height: 30px;
        border-radius: 10px;
        border: transparent;
        margin-left: 5px;
        transition: .5s;
    }
    /* .main {
        height: 80vh;
    } */
    
    .form__button {
        background-color: #FFD050;
        color: #fff;
        width: 150px;
        height: 50px;
        border: none;
        margin-bottom: 50px;
    }
    
    .class {
        display: none;
    }
    
    @media screen and ( max-width: 1200px) {
        .container {
            overflow-x: hidden;
        }
        /* body {
        overflow-x: hidden;
    } */
        .header {
            background-size: cover;
        }
        .nav__menu {
            transition: 2s;
            /* right: 0; */
        }
        .nav__menu__ul {
            padding: 20px;
            transform: translateY(-120%);
            background-color: #232536;
            position: absolute;
            transition: 1s;
            flex-direction: column;
            align-items: center;
            width: 60vw;
            height: 90vh;
            right: 0;
        }
        .nav__menu__ul__li__a {
            font-size: 30px;
            padding-bottom: 50px;
        }
        .nav__menu__btn {
            z-index: 2;
            display: block;
            position: relative;
            right: 40px;
            width: 150px;
            height: 40px;
            background-color: #232536;
            border: 2px solid #FFD050;
            color: #FFD050;
        }
        .hero__h1 {
            font-size: 34px;
        }
        .chuse-kategories__cards {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .chuse-kategories__cards__card__text__h3 {
            padding: 10px 0 3px 0;
            font-weight: 600;
            font-size: 20px;
        }
        .chuse-kategories__cards__card__text__p {
            line-height: 18px;
            font-size: 10px;
        }
    }
    
    @media screen and ( max-width:1040px) {
        .chuse-kategories__cards {
            column-gap: 10px;
        }
        .chuse-kategories__cards {
            padding: 15px;
        }
        .Popular-blogs__card {
            flex-direction: column;
        }
        .foot-box {
            padding-top: 40px;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .foot-box__img {
            /* display: flex; */
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        /* .foot__box__img {
            padding-top: 20px;
        } */
        .our-team {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .serch__img {
            max-width: 335px;
        }
        .serch__p,
        .serch__span {
            font-size: 12px;
        }
        .serch__h2 {
            font-size: 26px;
        }
    }
    
    @media screen and ( max-width:782px) {
        .nav__menu__btn {
            right: 20px;
            width: 100px;
        }
        .nav__img {
            width: 70px;
        }
        .hero {
            align-items: center;
            text-align: center;
        }
        .nav__menu__btn {
            display: block;
            position: relative;
            right: 40px;
            max-width: 150px;
            height: 40px;
        }
        .chuse-kategories__cards {
            padding: 20px;
        }
        .our-mision {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
        }
        .serch__item {
            flex-direction: column;
            row-gap: 40px;
            align-items: center;
            border-bottom: 2px solid #4C4C4C;
        }
    }